body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
  }
  
  #form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 20px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    flex-grow: 1;
    outline: none;
    margin-right: 10px;
  }
  
  button[id="submit"] {
    background-color: #3897f0;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
  
  #result {
    margin: 20px;
    font-size: 14px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }
  
  h3 {
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
  }
  
  #map {
    height: 400px;
    width: 100%;
    margin: 20px;
    border-radius: 10px;
  }
  